.pagination__nav {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination__list {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.pagination__next {
    border-radius: none;
    border: #000 1px solid;
    padding: 6px 10px;
    cursor: pointer;
    background-color: white;
}

.pagination-link {
    border-radius: 100%;
    border: #000 1px solid;
    padding: 6px 10px;
}
